.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition-duration: .6s
}

/* Normal buton stilleri */
.btn-primary {
    background: #fff; /* Ana renk */
    color: #E50010; /* Metin rengi */
    border: 1px solid #E50010; /* Kenarlık */
    border-radius: 15px; /* Köşeleri yuvarlatır */
    padding: 7px 14px; /* İç boşluk */
    transition: background 0.3s, color 0.3s; /* Yumuşak geçişler */
}


.btn-primary:hover {
    background: #E50010; /* Hover arka plan rengi */
    color: #ffffff; /* Hover metin rengi */
    border: 1px solid #E50010; /* Kenarlık */
}

/* Seçili buton için özel stil */
.btn-primary.selected {
    background: #E50010; /* Seçili arka plan rengi */
    color: #ffffff; /* Metin rengi */
    border: 1px solid #E50010; /* Kenarlık */
}

.btn-outline-primary {
    background: hsl(0, 0%, 100%);
    color: #FC997C;
    border: 2px solid #000000;
}

.btn-outline-primary:hover {
    background: #FC997C;
    color: #fff;
    border: 2px solid #000000;
}

.btn-secondary {
    background: #E50010; /* Ana renk */
    color: #fff; /* Metin rengi */
    border: 1px solid #E50010; /* Kenarlık */
    border-radius: 15px; /* Köşeleri yuvarlatır */
    padding: 7px 14px; /* İç boşluk */
    transition: background 0.3s, color 0.3s; /* Yumuşak geçişler */
}

.btn-secondary:hover {
    background: #E50010; /* Hover arka plan rengi */
    color: #ffffff; /* Hover metin rengi */
    border: 1px solid #E50010; /* Kenarlık */
}

.btn-outline-secondary {
    background: #fff;
    color: #2E4C6D;
    border: 2px solid #000000;
}

.btn-outline-secondary:hover {
    background: #2E4C6D;
    color: #fff;
    border: 2px solid #000000;
}